layout {
	tab name="dev" split_direction="vertical" {
        pane size="70%" command="nvim" {
        }
        
        pane split_direction="horizontal" {
            pane command="coco" {}
            pane
        }
    }

    tab name="Monitor" {
        pane command="htop"
    }
}
